* {
    font-family: "Anton", sans-serif;
}

body {
    margin: 0;
    font-family: "Anton", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 600;
    background-color: #000;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.app {
    color: #dc0026;
   
}

.main {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 0 .8rem;
    background-color: #000;
}

.canvas-cover {
    display: flex;
    max-width: 100vw;
    padding: 1rem;
    height: 400px;  
}

.canvas {
    margin: 0 auto;
    overflow: hidden;
    max-height: 500px;
    object-fit: contain;
}

.bat-button {
    margin: 1rem;
    position: absolute;
    top: 0;
    right:0;
    background-color: #4f0404;
    padding: 0.3rem 1rem;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    transition: 0.5s all ease;
    height: fit-content;

}

.bat-button:hover {
    cursor: pointer;
    background-color: #be0d0c;
}

.input {
    margin: -1rem auto 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.input > h1 {
    font-size: 1.5rem;
}

.batinput {
    padding: 0 0 0.5rem;
    margin: auto;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #dc0026;
    text-align: center;
    border-bottom: 2px solid #dc0026;
    width: 100%;
}

.batinput:focus {
    outline: none !important;
}

.footer {
    padding: 1rem 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disclaimer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.disclaimer > p {
    font-size: 1.2rem;
    padding-right: 1rem;
    border-right: 1px solid #dc0026;
}

.github > img {
    transition: 0.5s ease;
}

.github > img:hover {
    filter: invert(30%);
}

.trailer-cover {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.trailer {
    width: 100%;
    height: 100%;
}

.home-button {
    padding: 1rem;
    position: absolute;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 200px;
}

@media screen and (min-width:688px) {
    .input > h1 {
        font-size: 2rem;
    }
    .batinput {
        font-size: 2.5rem;
    }


    
}