* {
    font-family: "Anton", sans-serif;
}

body {
    margin: 0;
    font-family: "Anton", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2rem;
    font-weight: 600;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.app {
    padding: 40px;
}

.cover {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.canvas {
    border: 1px solid red;
    background-color: #000;
}
